html {
    background-color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
    padding: 24px;

    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 24px;
}
body {
    margin: 0;
}
footer {
    background-color: burlywood;
    margin-top: 24px;
    padding: 24px;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    align-items: center;
}
.book-cover {
    width: 200px;
    height: auto;
}

.book-title {
    font-weight: bold;
    font-size: 150%;
}

.book-rating {
    font-size: 125%;
}

.book-authors {
    color: dimgray;
}

.main-page-book-review {
    background-color: white;
    border-color: 1px solid lightblue;
    padding: 24px;
    display: grid;
    grid-template-columns: auto 1fr;
}

.main {
    max-width: 800px;
    margin: auto;
}